.not-found {
  padding: 86px 0 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #f5f6f7;
}

.not-found__logo {
  margin-bottom: 24px;
  max-width: 74px;
  max-height: 74px;
}

.not-found__header {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: #1a1b22;
  margin: 0;
}

.not-found__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #b6bcbf;
  max-width: 356px;
  margin: 0;
}

.not-found__span {
  display: block;
}
