.body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  color: #1a1b22;
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
